/* Standard StyleS */
/* #################################################### */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
}

/* ---------------------------------------------------- */
section {
  min-height: 100%;
  /* hiermit hat jede section 100% auf jedem viewport */
}

/* ----------------------------------------------------- */
a {
  text-decoration: none;
  /* hiermit werden die underlins im a Tag enfernt */
}

/* ----------------------------------------------------- */
li {
  list-style-type: none;
  /* die listenelemnte ohne punkt */
}

/* TRANSITIONS    -------------------------------------- */
/* bzw. das smothe padding der navigation betrift auch #about img:hover */
#logo,
li,
img,
.button {
  transition: all 300ms;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
}

/* Überschriften StyleS */
/* #################################################### */
h1,
h2,
h3,
a {
  font-family: "Gaegu", sans-serif;
  font-weight: 600;
  /* font-size: 30px; */
  color: rgb(34, 53, 25);
  text-transform: uppercase;
}

h2 {
  color: rgb(178, 184, 8);
}

h3 {
  font-size: 50px;
  margin-bottom: 5px;
  padding: 1%;
  margin-top: 80px;
}

h4,
p {
  font-family: "Pacifico", cursive;
}

/* Balken unter den Überschriften StyleS */
/* #################################################### */
hr {
  width: 70px;
  height: 4px;
  background: #494949;
  border: 0;
  margin: 0 auto 40px auto;
}

/* HEADER StyleS */
/* #################################################### */
header {
  width: 97%;
  height: 65px;
  position: fixed;
  top: 20px;
  left: 20px;
  background: rgb(228, 225, 225);
  box-shadow: -17px 25px 26px rgba(0, 0, 0, 0.8);
  z-index: 1;
  border: 1px solid grey;
  border-radius: 25px;
}

/* LOGO StyleS */
/* ----------------------------------------------------- */
#logo {
  width: 140px;
  float: left;
  margin: 15px 0 0 50px;
}

#logo:hover {
  opacity: 0.7;
}

#logo img {
  width: 240%;
}

/* Navigatin StyleS */
/* ----------------------------------------------------- */
header nav {
  float: right;
  margin: 10px 50px 0 0;
}

header nav ul li {
  float: left;
  width: 80px;
  margin-right: 20px;
}

header nav ul li a {
  font-size: 16px;
}

header nav ul li:hover {
  padding-top: 3px;
}

/* HOME StyleS */
/* #################################################### */
#home {
  background: url(../img/Startseite.JPG);
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

#home h1 {
  margin: 240px auto 0 auto;
  font-size: 110px;
}

#home h2 {
  margin: 0 auto o auto;
  font-size: 25px;
}

#home img {
  width: 32px;
  margin-top: 90px;
  opacity: 0.6;
}

#home img:hover {
  opacity: 1;
}

/* ABOUT StyleS */
/* #################################################### */
#about img {
  width: 200px;
}

#about img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
}

#about h4 {
  font-size: 20px;
}

#about p {
  width: 700px;
  margin: 0 auto 0 auto;
}

/* WORK StyleS */
/* #################################################### */
#work {
  background-color: rgb(167, 167, 167);
}

#projekte {
  width: 900px;
  margin: 0 auto 0 auto;
}

#projekte ul {
  padding: 0;
  /* auf der linkes seite wird der grüne padding balken enfernt */
}

#projekte ul li {
  width: 33.3%;
  /* damit die projekte in die 900px passen sollten sie 33.3% der fläche übernehmen */
  float: left;
  margin-bottom: 15px;
}

#projekte img {
  width: 280px;
  height: 179px;
  border-radius: 10px;
  /* wenn bilder gröser sein solten werden sie auf diese werte scaliert */
}

#projekte img:hover {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  box-shadow: 0 10px 5px rgba(0, 0, 0, 0.3);
}

/* CONTACT StyleS */
/* #################################################### */
form input,
textarea {
  font-family: "Gaegu", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  font-size: 15px;
  margin-bottom: 10px;
  border-radius: 2px;
  border: 2px solid #494949;
}

form input:first-child {
}

form input {
  width: 552px;
  height: 30px;
  /* breit und höhe der inputs */
}

textarea {
  width: 550px;
  height: 200px;
  resize: none;
}

.input_text {
  padding-left: 10px;
  /* abstand von links im input */
  color: #d83d3d;
}

/* Placeholder Farben */
/* ----------------------------------------------------- */
::-webkit-input-placeholder {
  color: blue;
}

::-moz-placeholder {
  color: blue;
}

::-ms-input-placeholder {
  color: blue;
}

::-moz-placeholder {
  color: blue;
}

/* Button */
/* ----------------------------------------------------- */
.button {
  background-color: rgb(170, 161, 155);
  color: #330101;
  width: 565px;
  height: 50px;
}

.button:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  opacity: 0.9;
}

/* FOOTER StyleS */
/* #################################################### */

footer {
  width: 100%;
  height: 55px;
  position: static;
  background: rgb(228, 225, 225);
  border: 1px solid grey;
  border-radius: 50px;
  padding: 0;
}
